@media (max-width: 1300px) {
    .injoy__img::before,
    .courier__img::before {
        display: none;
    }

    .works__text--selfi::after, 
    .works__text--injoy::after,
    .works__text--courier::after,
    .receiving__content::before {
        display: none;
    }

    .working {
        margin-top: 10px;
        &__title {
            font-size: 30px;
        }
        .container__working {
            display: grid;
            justify-content: center;
            row-gap: 80px;
            margin-bottom: 150px;
            .point_works--courier {
                margin-top: 50px;
            }
        }
        .works__text {
            margin-top: 40px;
            margin-left: 30px;
            width: 100%;
            &--title {
                font-size: 22px;
                width: 100%;
            }

        }
    }
    .injoy__img::before {
        display: block;
        left: calc(50% - 25px);
        top: calc(30% - 20px);
        transform: rotate(90deg);
    }
    .courier__img::before {
        display: block;
        left: calc(50% - 25px);
        top: calc(66% - 20px);
        transform: rotate(90deg);
    }
    .courier__img::after {
        display: none;
        left: calc(26%);
        top: calc(65%);
    }
    .receiving {
        display: grid;
        justify-content: center;
        margin: 10px auto 50px auto;
        &__background {
            background-size: 0%, cover;
            width: 100%;
            height: 280px;
            z-index: 2000;
            &::after {
                background-size: 95%;
                left: -50px;
                top: -15px;
                width: 392px;
                height: 372px;  

                background-position: calc(50%) -30px;
            }
        }
        &::after {
            content: "";
            position: absolute;
            left: calc(50% - 40px);
            top: -120px;
            width: 85px;
            height: 15px;
            transform: rotate(90deg);

            background-image: url("@/assets/Working-img/orange_points.svg");
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 100;
        }
        &__content {
            margin-top: 20px;
            &--title {
                font-size: 22px;
                width: 320px;
            }
            &--text {
                width: 320px;
            }
        }
    }
}