.working {

    margin-bottom: 100px;
    padding: 15px 0;
    // width: 100%;
    // height: 1206px;
    // background-color: #fff;
    overflow: hidden;
    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 50px;
        line-height: 130%;
        text-align: center;
        /* width: 693px;  */
        background: linear-gradient(95.89deg, #7BC0FF -9.88%, #2783FE 82.48%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


// .w-inner {
//     width: 1300px;
// }
.container__working {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    position: relative;
    // height: 540px;
    margin-top: 20px;
    margin-bottom: 150px;
}
.point_works--item {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap;
    width: 336px;
}
.selfi__img, 
.injoy__img,
.courier__img {
    display: flex;
    justify-content: center;
    align-items: flex-start;  
}
.selfi__img img {
    width: 336px;
    height: 330.5px;
}

.injoy__img img {
    width: 314px;
    height: 343.5px;
}

.courier__img img {
    width: 335px;
    height: 376px;
    z-index: 1;
}
.works__text {
    margin-left: 20px;
    margin-top: 50px;
    width: 274px;
    height: 161px;
    &--courier {
        margin-left: 64px;
    }
    &--title {
        margin-bottom: 16px;
        font-size: 27px;
        line-height: 120%;
        width: 200px; 
    }
    &--text {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
    
        color: #516176;
    }
    &--selfi::after {
        content: "1";
        position: absolute;
        left: 10px;
        top: 410px;
        font-family: 'Neucha';
        font-style: normal;
        font-weight: 400;
        font-size: 200px;
        line-height: 110%;
    
        background: linear-gradient(180deg, #F09819 0%, #EF7821 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.1;
        z-index: 100;
    }
    &--injoy::after {
        content: "2";
        position: absolute;
        left: 445px;
        top: 410px;
        font-family: 'Neucha';
        font-style: normal;
        font-weight: 400;
        font-size: 200px;
        line-height: 110%;
    
        background: linear-gradient(180deg, #F09819 0%, #EF7821 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.1;
        z-index: 100;
    }
    &--courier::after {
        content: "3";
        position: absolute;
        left: 910px;
        top: 410px;
        font-family: 'Neucha';
        font-style: normal;
        font-weight: 400;
        font-size: 200px;
        line-height: 110%;
    
        background: linear-gradient(180deg, #F09819 0%, #EF7821 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.1;
        z-index: 100;
    }
}


.injoy__img::before {
    content: "";
    position: absolute;
    left: calc(30% - 15px);
    top: calc(40% - 0px);
    width: 85px;
    height: 15px;
   
    background-image: url("@/assets/Working-img/orange_points.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
}

.courier__img::after {
    content: "";
    position: absolute;
    left: calc(66% - 15px);
    top: calc(-14%);
    width: 546px;
    height: 532.32px;

    background-image: url("@/assets/Working-img/courier-after.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.courier__img::before {
    content: "";
    position: absolute;
    left: calc(66% - 15px);
    top: calc(40% - 0px);
    width: 85px;
    height: 15px;
   
    background-image: url("@/assets/Working-img/blue_points.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
}

.receiving {
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 1;
    &__background {
        position: relative;
        width: 53%;
        height: 290px;
        background: 
        url("@/assets/Working-img/receiving-love.png") no-repeat,
        linear-gradient(180deg, #FFC064 34%, #EF7821 112.87%);
        // background-size: auto;
        background-position: left center;
        border-radius: 40px;
        z-index: -1;
        &::after {
            content: "";
            position: absolute;
            left: 230px;
            top: -42px;
            width: 770px;
            height: 393px;
        
            background-size: cover;
            z-index: 100;
            background: url("@/assets/Working-img/receiving-girl.png") no-repeat;
            background-position: calc(50% - 220px) -30px;
        }
    }
    &__content {
        // width: 532px;
        height: 231px;
        &--title {
            font-weight: 700;
            font-size: 27px;
            line-height: 120%;
            color: #172C48;
        }
        &--text {
            margin-top: 20px;
            margin-bottom: 40px;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #516176;
            width: 385px;
        }
        &::before {
            content: "4";
            position: absolute;
            left: 700px;
            top: 10px;
            font-family: 'Neucha';
            font-style: normal;
            font-weight: 400;
            font-size: 200px;
            line-height: 110%;
        
            background: linear-gradient(180deg, #F09819 0%, #EF7821 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0.1;
            z-index: -1;
        }
    }

}
.btn {
    display: inline-flex;
    align-items: center;
    column-gap: 15px;

    padding: 17px 33px;
    color: #fff !important;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    
    box-shadow: 0px 4px 2px 0 #0C6DEE,
    0px 40px 30px -20px #0C6DEE;
    border-radius: 113px;
    text-decoration: none;
    &:hover {
        background: linear-gradient(174.82deg, #C1E1FF 4.38%, #4595FF 96.06%);
    }
    &:active {
        background: #7BC0FF;
        box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.25),
        0px 4px 2px 0 #0C6DEE,
        0px 40px 30px -20px #0C6DEE;
    }
    &--img {
        height: 43px;
        width: 44px;
    
        padding: 10px;
        background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
        border-radius: 19px;
    }

}
