.lang-menu {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    min-width: 120px;

    .selected-lang__title {
        margin-left: 10px;
        color: #2783FE;
        font-weight: 700;
        font-size: 18px;
    }

    .selected-lang__flag-icon {
        width: 30px;
        height: 30px;
    }
    
    .dropdown-arrow {
        margin-left: 10px;
    }
}

.lang-menu:hover .select-lang__lang-list {
    display: flex;
}

.select-lang__lang-list {

    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100px;
    height: 115px;
    position: absolute;
    top: 30px;
    left: -5px; 
    z-index: 100;
    display: none;
}



.lang-list__item {
    padding: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
    min-width: 50px;

    .lang-list__title {
        margin-left: 10px;
        color: #2783FE;
        font-weight: 700;
        font-size: 18px;
    }
}

.lang-list__item:hover {
    background-color: #c5dbf9;
    
}

.lang-list__item:hover .lang-list__title {
    color: #fff;
}
.show {
    display: block;
    border: #2fFE;
}
.dropbtn {
    border: none;
    background: none;
}
