@media (max-width: 1299px) {

    .main {

        .main__about {
            margin-left: 15px;
            max-width: 600px;
            & .main__title {
                display: none;
            }
            & .main__title--mobile {
                font-size: 40px;
                display: block;
            }
            & .main__media {
                display: inline-block;
            }
            & .main__video {
                margin-top: 30px;
            }
    
        }
    }
}
@media (max-width: 760px) {
    .main {
        background-size: 440px 360px, cover;
        background-position: calc(0% - 60px) calc(100% - 190px), 50% center;
        height: auto;
        .container__main {
            padding: 15px 0;
        }
        &::after {
            width: 100%;
            height: 90px;
            bottom: -25px;
        }
        .main__about {
            max-width: 300px;
            & .main__title {
                display: none;
            }
            & .main__title--mobile {
                font-size: 30px;

            }
            & .main__media {
                margin: 250px 20px 20px 20px;
                margin-top: 280px;
            }
            & .main__list {
                & li {
                    font-size: 17px;
                }
            }
        }
    }
}
