@media (max-width: 1299px) {
    .travel {
        margin: 0 auto;
        &__content {
            height: 830px;
            background: 0%;
            margin: 0 auto;
            box-shadow: none;
            &__area {
                width: 320px;
                margin: 0 auto;

            }
        }
    }

    .area__title-mobile {
        display: block;
        color: #172C48;
        font-weight: 700;

        font-size: 22px;
        width: 189px;
        height: 52px;
    }
    .area__test {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 40px;
        margin-left: 0;
        grid-column-gap: 10px;
        grid-row-gap: 80px;
    }

    .area__progress-mobile {
        margin-top: 20px;
        display: flex;
        align-items: center;
        column-gap: 20px;
        height: 93px;
    }
    .area__content {
        margin: 0px;
    }
    .area__progress,
    .area__steps,
    .area__title,
    .travel-buttons {
        display: none;
    }
    
    .buttons-mobile {
        display: grid;
        row-gap: 20px;
        width: 320px;
        height: 160px;
        margin-top: 60px;
    }
    .button {
        padding: 21px 70px;
    }
    .button-prev {
        margin: 0;
    }
}