
.header {
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__logo {
        display: flex;
        height: 48px;
        z-index: 999999;

    }

    &__logo img {
        max-height: 100%;
    }

    &__navbar ul {
        list-style: none;
        display: flex;
        column-gap: 37px;
        
        :hover {
            color: var(--secondary-dark);
        }
    }

    &__navbar a {
        font-size: 16px;
        color: #2783FE;
        text-decoration: none;
    }
}

.header__navbar-mobile {
    display: none;
    
}
.header-mobile-menu {
    display: none;
    
    margin-left: 40px;
}
.header__navbar-mobile--active {
    display: block;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    background: #fff;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100vh;

    // overflow: hidden;
    & ul {
        margin: 70px 80px;
        list-style: none;
        row-gap: 37px;
        text-align: center;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    & a {
        text-decoration: none;
        font-size: 20px;
        color: #2783FE;

    }
    
}
.no-scroll {
    overflow-y: hidden;
}

.menu-icon-wrapper {
	--time: 0.1s;
	--width: 25px;
	--height: 16px;
	--line-height: 4px;
	--color:#172C48;

	height: var(--height);
	width: var(--width);
	display: flex;
	justify-content: center;
	align-items: center;
    
}

.menu-icon {
	position: relative;
	width: var(--width);
	height: var(--line-height);
	background-color: var(--color);
    z-index: 999999;

}

.menu-icon::before,
.menu-icon::after {
	content: '';
	display: block;

	position: absolute;
	left: 0;

	width: var(--width);
	height: var(--line-height);

	background-color: var(--color);
	transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.menu-icon::before {
	top: calc(var(--line-height) * -2);
}

.menu-icon::after {
	top: calc(var(--line-height) * 2);
}

.menu-icon.menu-icon--active {
	background-color: transparent;
}

.menu-icon.menu-icon--active::before,
.menu-icon.menu-icon--active::after {
	top: 0;
	transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.menu-icon.menu-icon--active::before {
	transform: rotate(45deg);
}

.menu-icon.menu-icon--active::after {
	transform: rotate(-45deg);
}
.dropdown-content {
    display: none;
}