.header {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    background-color: #fff;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        height: 48px;
    }

    &__logo img {
        max-height: 100%;
    }

    &__navbar ul {
        list-style: none;
        display: flex;
        column-gap: 37px;
        
        :hover {
            color: var(--secondary-dark);
        }
    }

    &__navbar a {
        font-size: 16px;
        color: #2783FE;
        text-decoration: none;
    }
}

