
.send {
    position: relative;

    background: url("@/assets/Send-img/camera.svg") no-repeat,
    url("@/assets/Send-img/heart.svg") no-repeat,
    url("@/assets/Send-img/mail.svg") no-repeat, 
    url("@/assets/Send-img/send-girl.png") no-repeat,
    url("@/assets/Send-img/send-camera.png") no-repeat,
    
    linear-gradient(90deg, rgba(241, 217, 203, 0) 0%, #F6DDCF 100%) no-repeat;

    background-position: 0 calc(35%), calc(45%) calc(60%), calc(100%) calc(55%), calc(75%) calc(70%), calc(25%) calc(150%);
    width: 100%;
    height: 1180px;
    z-index: 1;
    &__container {
        padding: 200px 0;
    }
    &__title {
        margin: 0 auto;

        width: 342px;
        font-weight: 700;
        font-size: 50px;
        color: #172C48;
        text-align: center;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 324px;

        background-image: url("@/assets/Main-img/main-after.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        transform: rotate(180deg);
    }
}
.swiper {
    margin-top: 350px;
    width: 1535px;
    
}
.swiper-slide {
    width: 490px !important; 
    height: 402px !important; 
    background: #fff;
    border-radius: 30px;
    padding: 10px;
    margin-right: 0px ;
    flex-shrink: 0 !important;
}
.slider__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #9EA3AB;

}
.slider__btn {
    padding: 17px 21px;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    border-radius: 100px;
    border: none;
    margin-right: -50px;
    box-shadow: 0px 4px 6px 0 #0C6DEE,
    0px 40px 30px -20px #0C6DEE;
}

.slider__btn:hover {
    background: linear-gradient(174.82deg, #C1E1FF 4.38%, #4595FF 96.06%);
    }
.slider__btn:active {
    background: #7BC0FF;
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.25),
    0px 4px 6px 0 #0C6DEE,
    0px 40px 30px -20px #0C6DEE;
    } 

.swiper-pagination-current {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;

    color: #2783FE;
}
.swiper-pagination-total {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #9EA3AB;
}
.buttons {
    width: 387px;
    height: 66px;
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
