
.send {
    position: relative;

    background: 
    url("@/assets/Send-img/camera.svg") no-repeat,
    url("@/assets/Send-img/mail.svg") no-repeat,
    linear-gradient(90deg, rgba(241, 217, 203, 0) 0%, #F6DDCF 100%) no-repeat;
    overflow: hidden;
    background-size: calc(20%) calc(25%), calc(15%) calc(20%), 100%;
    background-position: -2% 30%, 89% 45%;
    // width: 100%;
    z-index: 1;
    &__title {
        margin: 0 auto;
        
        width: 342px;
        font-weight: 700;
        font-size: 50px;
        color: #172C48;
        text-align: center;
    }
    &__content {
        margin-top: 100px;
        // background:url("@/assets/Send-img/send-girl.png") no-repeat;
        // background-position: calc(50% + 350px) calc(50% + 10px);
    }
    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: -150px;
        width: 100%;
        height: 324px;

        background-image: url("@/assets/Main-img/main-after.svg");
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(180deg);
    }
}
.swiper {

    background: 
    url("@/assets/Send-img/send-camera.png") no-repeat,
    url("@/assets/Send-img/heart.svg") no-repeat,
    url("@/assets/Send-img/send-girl.png") no-repeat;
    z-index: 10;
    // overflow: visible;
    background-position:  calc(50% - 450px)  calc(50% + 10px), calc(50% - 240px) calc(50% - 90px), calc(50% + 350px) calc(50% - 100px);
    &-slides {
        border-radius: 30px;
        padding: 10px;
        height: 412px;
        background-color: #FFFFFF;
        position: relative;
        cursor: pointer;

        box-shadow: 0 22px 1px -10px
        rgba(152, 93, 1, 0.2); 

    }
}
.swiper-wrapper {
    margin-top: 350px;
}
.slider__item img{
    width: 100%;

}
.slider__text {
    margin-top: 20px;
    margin-left: 20px;
}
.slider__title {
    font-weight: 500;
    font-size: 24px;
    // margin-bottom: 300px;
    color: #172C48;
    max-height: 50px;
    // overflow: hidden;
}
.slider__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    
    color: #516176;
    margin-top: 10px;
    max-height: 100px;
    overflow: hidden;
}
.buttons {
    width: 387px;
    // height: 66px;
    margin-top: 70px;
    margin-bottom: 40px;
    // margin-left: 350px;
    display: flex;
    // justify-content: space-between;
    align-items: center;
}

.slider__btn {
    padding: 17px 21px;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    border-radius: 100px;
    border: none;
    margin-right: -50px;
    box-shadow: 0px 4px 6px 0 #0C6DEE,
    0px 40px 30px -20px #0C6DEE;
    width: 56px;
    height: 56px;
}
.swiper-button-prev {
    margin-right: 10px;
}
.swiper-button-next {
    margin-right: 30px;
}

.slider__btn:hover {
    background: linear-gradient(174.82deg, #C1E1FF 4.38%, #4595FF 96.06%);
    }
.slider__btn:active {
    background: #7BC0FF;
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.25),
    0px 4px 6px 0 #0C6DEE,
    0px 40px 30px -20px #0C6DEE;
    } 
.swiper-pagination-custom {
    width: 52px;
    height: 36px;
    
}
.swiper-pagination-current {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;

    color: #2783FE;
}
.swiper-pagination-total {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    
    color: #9EA3AB;
}

.pagination__text {
    max-height: 50px;
    overflow: hidden;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #9EA3AB;
    margin-right: 50px;
}
