@media (max-width: 1299px) {
    .footer-menu {
        width: 100%;
    }
    .footer-menu .footer-top {
        display: grid;
        row-gap: 20px;
        justify-content: center;
    }
    .footer-menu .footer-bottom {
        display: none;
    }
    .nav__list {
        margin-top: 50px;
        margin-bottom: 50px;
        display: grid;
        text-align: center;
        row-gap: 30px;
    }
    .nav__logo--footer {
        margin: 0 20px;
    }
}